{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-7">
        <h1>Gabi & me</h1>
        <p>I will wish be with her</p>
    </div>

    <div class="col-4">
        <img src="./assets/img/love.jpg" class="img-thumbnail" width="590px" height="590px">
    </div>

</div>

{{> footer }}